/*////////////////////////////////////////////////GLOBAL*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #005696;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover {
    text-decoration: none;
}

h2 {
    /*color: #f09030;*/ /*Peirce Orange*/
    color: #005696;
}

footer {
    font-size: .75em;
    color: #f09030;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*////////////////////////////////////////////////HEADER*/



/*////////////////////////////////////////////////CONTENT*/

.grid-control {
    display: inline-block;
    border: none;
    vertical-align: top;
    max-width: 75%;
}

nav.grid-control {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin: 0px 2px 5px 0px;
    padding: 10px 1px 0px 3px;
}

.grid-container {
    margin-top: 20px;
    background-color: #ccc;
    padding: 8px;
}

.content-card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin: 0px 2px 5px 0px;
    padding: 10px 1px 0px 3px;
    width: 50%;
}

.grid-cell {
    display: inline-block;
    background-color: #fff;
	vertical-align: top;
    width: 200px;
    height: 170px;
    border-bottom: 1px solid #f09030;
    margin: 0px 2px 5px 0px;
    padding-left: 3px;
}

.logo {
    height: 50px;
    width: 48px;
}
.glyphslink {
    margin-left: 20px;
    color: #808080;
}

    .glyphslink a {
        color: #fff;
    }

div.toList a {
    color: #fff;
}

    div.toList a:hover {
        color: #f09030;
    }

/*////////////////////////////////////////////////FOOTER*/